
  <!-- <div class="showcard" style= "background-image: url(<%= image_path(@spot.image) %>)"> -->
<div class="showcard" style= "background-image: url(<%= @spot.photo.url %>)">
  <div class="spotname"><%= @spot.user.name %></div>
  <div class="spotdescription"><h1>"<%= @spot.description %>"</h1></div>
  <div class="spotoccupation"><%= @spot.occupation %></div>
  <div class="spotgood"><%= @spot.good %></div>
  <div class="gestnum"><%= @spot.guest_number %></div>
  <div><%= @spot.price %></div>
  <div> <%= image_tag(@spot.user.avatar, :class =>"spotavatar") %></div>
  <%= simple_form_for [@spot, @booking] do |f| %>
  <%= f.submit class: 'btn btn-primary book' %>
  <% end %>
</div>


