<h3>Your bookings</h3>
<div>
  <% @bookings.each do |booking| %>
    <img src=<%= booking.spot.photo.url %>>
    <img src=<%= "#{@base_url}#{booking.spot.user.avatar}" %>>
      <div>
        <%= booking.user.name %>
      </div>
      <div>
        <%= booking.spot.user.name %>
      </div>
      <div>
        <%= booking.spot.description %>
      </div>
      <div>
      <%= link_to "delete", booking_path(booking), method: :delete %>
      </div>
    <% end %>
</div>
<%= link_to "Back to spots", index_path %>
