
<h3>Your Spot</h3>
<body>
    <div class="container">
      <div class="profile text-center">
        <div class="main">
          <div class="main-content">
            <img class="avatar" src=<%= @booking.spot.user.photo.url %>>
            <%= console %>
            <h2><%= @booking.spot.user.name %></h2>
            <hr>
            <%= link_to "Back to spots", index_path, method: :get %>
          </div>
        </div>
        <div class="stat">
          <div class="stat-content">
            <h3>Price</h3>
            <p><%= @booking.spot.price %></p>
          </div>
        </div>
        <div class="stat">
          <div class="stat-content">
            <h3>Occupation</h3>
            <p><%= @booking.spot.occupation %></p>
          </div>
          </div>
        <div class="stat">
          <div class="stat-content">
            <h3>Description</h3>
            <p><%= @booking.spot.description %></p>
          </div>
          </div>
        <div class="description" >
          <img class="image_fond" src=<%= @booking.spot.photo.url %>>
        </div>
      </div>
    </div>
</body>

<%= link_to "Back to spots", index_path %>

