<h3>Booking</h3>
<%= @booking.spot.user.name %>
<%= @booking.spot.description %>
<%= @booking.spot.price %>
<img src=<%= @booking.spot.photo.url %>>
<img src=<%= @booking.spot.user.photo.url %>>
<%= link_to "Back to spots", index_path %>
