

<div class="banner" style="background-image: url(<%= "#{@base_url}enfer.jpg" %>)">
      <div class="banner-content">
        <h1>WELCOME TO HELL</h1>
        <p>Hurry Up there is not much room left</p>
      </div>
</div>

    <div class="container">
      <% @spots.each do |spot| %>
      <div class="cards">
        <div class="card">
          <div class="col-md-12">
          <div class="card-body" style="background-image: url(<%= spot.photo.url %>" alt="Image">
            <span class="card-category"><div><%= spot.occupation %></div></span>
            <div class="card-description">
              <div><%= spot.good %></div>
            </div>
            <img class="card-user avatar avatar-large" src=<%= "#{@base_url}#{spot.user.avatar}" %>>
            <%= link_to "Book this spot", spot_path(spot), class: "card-link" %>
          </div>
          <div class="card-footer">
            <p>Posted on 22/11/19</p>
            <div class="controls">
              <a href="#"><i class="fa fa-star"></i></a></li>
              <a href="#"><i class="fa fa-heart"></i></a></li>
              <a href="#"><i class="fa fa-share"></i></a></li>
            </div>
          </div>
          </div>
          <% end %>
        </div>
