<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="navbar-wagon-right ">
      <div class= "navbar-wagon-brand">
        <%= link_to image_tag("logo.png"), root_path   %>
      </div>

      <div class="navbar-wagon">
    <!-- Right Navigation -->
        <div class= "navbar-wagon-brand">
          <%= link_to 'Add spot', new_spot_path if user_signed_in? %>
          <%= link_to "See your booking", spot_bookings_path(:spot, :booking) if user_signed_in? %>
        </div>

      <!-- Profile picture with dropdown list -->
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <!-- <div class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"> -->
            <img src=<%= current_user.photo.url if user_signed_in? %> class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"> <!-- mettre ici le code erb pour la photo de profile -->
            <!-- </div> -->
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li><%= link_to "log in", new_user_session_path %></li>
              <li><%= link_to "log out", destroy_user_session_path, method: :delete%></li>
              <li><%= link_to 'Update profile', edit_user_registration_path   if user_signed_in? %>
              </li>
            </ul>
          </div>
        </div>
      </div>

            <!-- Dropdown appearing on mobile only -->
            <!-- <div class="navbar-wagon-item hidden-md hidden-lg">
              <div class="dropdown">
                <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
                <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                  <li><a href="#">Host</a></li>
                  <li><a href="#">Trips</a></li>
                  <li><a href="#">Messagese</a></li>
                </ul>
              </div>
            </div> -->
    </div>
    <%= render 'navbar' %>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
